<%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
<%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>

<% if @user.present? %>
    <div>
    <p>Normalized User Profile:<%= JSON.pretty_generate(@user)%></p>
    <p>Full User Profile:<%= JSON.pretty_generate(@user)%></p>
    </div>
<% else %>
    <p>No user logged in</p>
<% end %>
